﻿@{
    ViewData["Title"] = "Home Page";
}

<div ng-app="myApp" ng-cloak ng-controller="myCtrl">

    @if (User.Identity.IsAuthenticated)
    {
        <div class="d-flex">
            <a style="margin-left: auto; max-height: 38px;"
                        class="btn btn-primary"
                        asp-area="" asp-controller="Movie" asp-action="AddMovie">
                    Add
                </a>
        </div>
    }

    <div style="min-height: 650px; margin-top: 10px" class="list-group">

        <a 
           href='Movie/Index/{{Item.id}}'
           class="list-group-item list-group-item-action flex-column align-items-start" 
           ng-repeat="Item in List">
            <div class="d-flex">
                <img style="max-height: 40px" src="~/movie_icon.png" />
                <h5 style="margin-left: 20px">{{Item.name}}</h5>
                <small style="margin-left: auto;">{{Item.year}} year</small>
            </div>
        </a>

    </div>
        
    <div style="margin-top: 10px" class="d-flex">
        <button style="margin-left: auto" class="btn btn-primary" ng-disabled="Page == 1" ng-click="ChangePage(false)">Prev</button>
        <button style="margin-left: 10px" class="btn btn-primary" ng-disabled="Page == AllPages || Page > AllPages" ng-click="ChangePage(true)">Next</button>
    </div>

</div>

@section scripts
{
    
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http) {

            $scope.Page = 1;
            $scope.AllPages = 0;
            $scope.List = null;

            $http.get("/Movie/GetMovies", { params: { page: $scope.Page }})
                    .then(function (response) {
                        $scope.List = response.data.list;
                        $scope.AllPages = response.data.pages; 
                    }, function(response) {
                      alert("error");
                    });

            $scope.ChangePage = function (next = true) {
                let numberPage = $scope.Page;
                if (next)
                    numberPage++;
                else
                    numberPage--;

                $http.get("/Movie/GetMovies", { params: { page: numberPage }})
                    .then(function (response) {
                        $scope.List = response.data.list;
                        $scope.AllPages = response.data.pages; 
                        $scope.Page = numberPage;
                    }, function(response) {
                      alert("error");
                    });
            };

        });

    </script>
}