﻿@{
    ViewData["Title"] = "Add Movie";
}

<div ng-app="myApp" ng-cloak ng-controller="myCtrl">
    
    <h3>Add new Movie</h3>

    <div class="card-body">
        <table class="table">

            <tr class="d-flex">
                <th class="col-md-2">
                    Name
                </th>
                <td class="col-md-10">
                    <input class="form-control input-sm" ng-model="NewMovie.Name" />
                </td>
            </tr>

            <tr class="d-flex">
                <th class="col-md-2">
                    Description
                </th>
                <td class="col-md-10">
                    <textarea class="form-control input-sm" ng-model="NewMovie.Desc">
                    </textarea>
                </td>
            </tr>

            <tr class="d-flex">
                <th class="col-md-2">
                    Producer
                </th>
                <td class="col-md-10">
                    <input class="form-control input-sm" ng-model="NewMovie.Producer" />
                </td>
            </tr>

            <tr class="d-flex">
                <th class="col-md-2">
                    Year
                </th>
                <td class="col-md-10">
                    <input type="number" class="form-control input-sm" ng-model="NewMovie.Year" />
                </td>
            </tr>

        </table>
        <div class="d-flex">
            <button style="margin-left: auto" class="btn btn-primary" ng-disabled="!NewMovie.Name" ng-click="Add()">Add</button>
        </div>
        
    </div>

</div>

@section scripts
{

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http) {

            $scope.NewMovie = {
                Name: "",
                Desc: "",
                Producer: "",
                Year: null
            };

            $scope.Add = function () {
                
                $http.post("/Movie/AddMovie", $scope.NewMovie)
                    .then(function (response) {
                        document.location.href = response.data;
                    }, function(response) {
                      alert("error");
                    });
            };

        });

    </script>
}