﻿@{
    ViewData["Title"] = "Edit Movie";
}

<div ng-app="myApp" ng-cloak ng-controller="myCtrl">

    <div class="card card-body ">

        <div class="d-flex flex-row">
            <div class="d-flex flex-column">
                <div style="height: 200px">
                    <img ng-if="Movie.posterUrl || Movie.posterUrl.length > 0" src="{{Movie.posterUrl}}" style="height: 100%;" />
                    <img ng-if="!Movie.posterUrl || !Movie.posterUrl.length > 0" src="~/empty_poster.png" style="height: 100%;" />
                </div>

                <input type="file"
                       accept="image/*,image/jpeg"
                       onchange="angular.element(this).scope().Upload(this)"
                       name="uploadedFile"
                       style="margin-top: 10px" /><br>
            </div>

            <div class="d-flex flex-column" style="flex: 1 1 0%; margin-left: 10px">
                <span>Name: </span> <input ng-model="Movie.name"></input>
                <span>Producer: </span> <input ng-model="Movie.producer"></input>
                <span>Year: </span> <input type="number" ng-model="Movie.year"></input>
                <br /><br />
                <h6>Description:</h6>
                <textarea style="max-width: 500px" ng-model="Movie.desc"></textarea>
            </div>


        </div>

        <button style="margin-left: auto; margin-top: 10px; max-height: 38px;"
                class="btn btn-primary"
                ng-click="Save()">
            Save
        </button>

    </div>

</div>

@section scripts
{

    <script>
        var app = angular.module('myApp', ['ngFileUpload']);
        app.controller('myCtrl', function ($scope, $http, Upload) {

            $scope.Movie = @Html.Raw(Json.Serialize(Model));

            $scope.Save = function () {
                $http.post("/Movie/SaveMovie", $scope.Movie)
                    .then(function (response) {
                        document.location.href = response.data;
                    }, function (response) {
                        alert("error");
                    });
            };

            $scope.Upload = function (element) {
                Upload
                    .upload({
                        url: '/Movie/AddFile',
                        data: $scope.Movie.id,
                        file: element.files[0]
                    })
                    .then(function (response) {
                        window.location.reload();
                    }, function (response) {
                        alert(response.data);
                    });

            };
        });
    </script>
}