﻿@{
    ViewData["Title"] = "Movie";
}

<div ng-app="myApp" ng-cloak ng-controller="myCtrl">

    <div class="card card-body ">

        <div class="d-flex flex-row">
            <div style="height: 200px">
                <img ng-if="Movie.posterUrl || Movie.posterUrl.length > 0" src="{{Movie.posterUrl}}" style="height: 100%;" />
                <img ng-if="!Movie.posterUrl || !Movie.posterUrl.length > 0" src="~/empty_poster.png" style="height: 100%;" />
            </div>

            <div class="d-flex flex-column " style="margin-left: 10px">
                <h5>{{Movie.name}}</h5>

                <span>Producer: {{Movie.producer}}</span>
                <span>Year: {{Movie.year}}</span>
                <br /><br />
                <h6>Description:</h6>
                <div style="white-space: pre-wrap">{{Movie.desc}}</div>
            </div>

            @if (Model.User == User.Identity.Name)
            {
                <a style="margin-left: auto; max-height: 38px"
                   class="btn btn-primary"
                   href='~/Movie/EditMovie/{{Movie.id}}'>
                    Edit
                </a>
            }

        </div>

    </div>

</div>

@section scripts
{

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http) {

            $scope.Movie = @Html.Raw(Json.Serialize(Model));

        });

    </script>
}